<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title> Bonita, né | Gestão de cadastros </title>

    <link rel="stylesheet" href="../../public/styles/form.css">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;0,500;0,700;1,300&display=swap" rel="stylesheet">

  </head>

  <body>
    <section class="header-container">
      <div class="logo-left">
        <img src="../../public/images/Logo.svg" class="company-logo" alt="Logo" title="Logo" />
      </div>
    </section>

    <main>
      <div class="costumer-registration">
        <h1>CADASTRO DE CLIENTE</h1>
      </div>

      <form id="form-profile" action="" autocomplete="off">
        <fieldset>
          <legend>IDENTIFICAÇÃO</legend>
          <div class="separator light"></div>

          <div class="input-group">
            <div class="input-wrapper">
              <label for="name">Nome completo</label>
              <input 
                type="text" 
                id="name" 
                name="name" 
              />
            </div>

            <div class="input-wrapper">
              <label for="birthday">Data de nascimento</label>
              <input 
                type="date" 
                id="birthday" 
                name="birthday"
              />
            </div>

            <div class="input-wrapper">
              <label for="CPF">CPF</label>
              <input 
                type="text" 
                id="CPF" 
                name="CPF"  
                placeholder="000.000.000-00"
                maxlength="14"
              />
            </div>
          </div>
        </fieldset>

        <fieldset>
          <legend>CONTATO</legend>
          <div class="separator light"></div>

          <div class="input-group">
            <div class="input-wrapper">
              <label for="email">Email</label>
              <input 
                type="email" 
                id="email" 
                name="email"
                placeholder="exemplo@exemplo.com" 
              />
            </div>

            <div class="input-wrapper">
              <label for="phone-number">Telefone residencial</label>
              <input 
                type="text" 
                id="phone-number" 
                name="phone-number"
                placeholder="(00) 0000-0000"
                maxlength="14"
              />
            </div>  

            <div class="input-wrapper">
              <label for="mobile-number">Telefone móvel</label>
              <input 
                type="text" 
                id="phone-number" 
                name="phone-number"
                placeholder="(00) 00000-0000"
                maxlength="15"
              />
            </div>
          </div>
        </fieldset>  

        <fieldset>
          <legend>ENDEREÇO</legend>
          <div class="separator light"> </div>

          <div class="input-group">
            <div class="input-wrapper">
              <label for="street-address">Logradouro</label>
              <input 
                type="text" 
                id="street-address" 
                name="street-address"
                maxlength="50"
              />
            </div>

            <div class="input-wrapper">
              <label for="house-number">Número</label>
              <input 
                type="text" 
                id="house-number" 
                name="house-number" 
              />
            </div>

            <div class="input-wrapper">
              <label for="house-number-complements">Complemento</label>
              <input 
                type="text" 
                id="house-number-complements" 
                name="house-number-complements" 
              />
            </div>

            <div class="input-wrapper">
              <label for="district">Bairro</label>
              <input 
                type="text"
                id="district" 
                name="district" 
              />
            </div>  
            
            <div class="input-wrapper">
              <label for="city">Cidade</label>
              <input 
                type="text"
                id="city" 
                name="city" 
              />
            </div>  

            <div class="input-wrapper">
              <label for="postal-code">CEP</label>
              <input 
                type="text"
                id="postal-code" 
                name="postal-code" 
                placeholder="00000-000"
                maxlength="9"
              />
            </div>
            
            <div class="input-wrapper">
              <label for="state">Estado</label>
                <select id="UF" name="UF">
                  <option value="">Selecione</option>
                  <option value="AC">Acre</option>
                  <option value="AL">Alagoas</option>
                  <option value="AP">Amapá</option>
                  <option value="AM">Amazonas</option>
                  <option value="BA">Bahia</option>
                  <option value="CE">Ceará</option>
                  <option value="DF">Distrito Federal</option>
                  <option value="ES">Espirito Santo</option>
                  <option value="GO">Goiás</option>
                  <option value="MA">Maranhão</option>
                  <option value="MS">Mato Grosso do Sul</option>
                  <option value="MT">Mato Grosso</option>
                  <option value="MG">Minas Gerais</option>
                  <option value="PA">Pará</option>
                  <option value="PB">Paraíba</option>
                  <option value="PR">Paraná</option>
                  <option value="PE">Pernambuco</option>
                  <option value="PI">Piauí</option>
                  <option value="RJ">Rio de Janeiro</option>
                  <option value="RN">Rio Grande do Norte</option>
                  <option value="RS">Rio Grande do Sul</option>
                  <option value="RO">Rondônia</option>
                  <option value="RR">Roraima</option>
                  <option value="SC">Santa Catarina</option>
                  <option value="SP">São Paulo</option>
                  <option value="SE">Sergipe</option>
                  <option value="TO">Tocantins</option>
                </select>
            </div>
          </div>
        </fieldset>

        <fieldset>
          <legend>LOGIN</legend>
          <div class="separator light"></div>

          <div class="input-group">
            <div class="input-wrapper">
              <label for="user">Usuário</label>
              <input 
                type="email" 
                id="user" 
                name="user"
                placeholder="exemplo@exemplo.com" 
              />
            </div>

            <div class="input-wrapper">
              <label for="password">Senha</label>
              <input 
                type="password" 
                id="password" 
                name="password"
                minlength="8"
              />
            </div>
          </div>
        </fieldset>      

        <div>
          <button class="update-data-button" form="form-profile" type="submit">Atualizar cadastro</button>
          <br>
          <br>
          <br>
          <button class="cancel-update-data-button" form="form-profile" type="submit">Cancelar</button>
        </div> 

      </form>
    </main>

  </body>
</html>